.heading-primary {
	
	text-align: center;
	text-transform:uppercase;
	font-weight: bold;
	letter-spacing: 2px;

}

.heading-secoundry{
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
}
.heading-tertiary{
	font-size: 2rem;
	font-weight: 700;
	text-transform: capitalize;
	color: rgb(66, 63, 63);
}
.paragraph{
	font-size: 1.5rem;
	padding: .4rem;
	color: #fff;
	text-align: center;
}